@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

#home--wrapper {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    padding: 10px;
}

#home--container {
    width: 100%;
    display: grid;
    grid-template-rows: 1fr;
    gap: 1rem;
    padding: 10px;
}

.home--container--box {
    width: 75%;
    margin: 0 auto;
    padding: 10px;
    display: grid;
    grid-template-rows: 1fr;
    gap: 0.5rem;
}

.home--container--box h1 {
    padding: 10px;
}

.home--container--box p {
    padding: 10px;
    line-height: 30px;
    color: gray;
}

.home--container--box button {
    width: 8em;
    padding: 5px;
    margin-left: 1%;
    border: none;
    background-color: white;
    color: black;
    font-weight: bolder;
    font-size: 0.8rem;
    cursor: pointer;
}

.home--container--grid {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    width: 60%;
    padding: 10px;
    gap: 0.5rem;
}

.home--container--grid img {
    width: 100%;
    border: 2px solid gray;
}