h1 {
    border: 1px solid green;
    text-align: center;
    font-size: 2em;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

#main {
    border: 1px solid purple;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    place-items: center;
    gap: 20px;
    padding: 20px;
}

/* GAME */

#game-box {
    border: 1px solid red;
    padding: 20px;
}

.game-row {
    border: 1px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 5px;
}

.letter-box {
    border: 2px solid black;
    border-radius: 5%;
    width: 60px;
    height: 60px;
}

/* KEYBOARD */

#keyboard-box {
    border: 1px solid red;
    padding: 10px;
}

.keyboard-row {
    border: 1px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 5px;
}

.key-box {
    border: 2px solid grey;
    border-radius: 5%;
    width: 40px;
    height: 50px;
    padding: 10px;
    background-color: black;
    color: white;
    font-size: 1.3em;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    display: grid;
    place-items: center;
}