@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

#wrapper {
    width: 100%;
    height: 100vh;
    background-color: #000;
    display: grid;
    grid-template-columns: 1fr;
    place-content: center;

}

#player--container {
    border-radius: 2%;
    background: linear-gradient(to right, #FFB88C, #aa4ead);
    width: 50%;
    height: 70vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px;
    box-shadow: 0 0 40px 0 rgba(212, 210, 210, 0.5);
}

#duration-volume--container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#current-duration {
    font-size: 2em;
    font-weight: 600;
}

#current-volume {
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.volumeText {
    color: black;
    font-size: 1.2em;
    text-align: right;
}

#current-song {
    color: white;
    font-size: 1.5em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#progress--container {
    display: flex;
    align-items: center;
}

#progress {
    appearance: none;
    width: 100%;
    height: 10px;
    background-color: #555;
    outline: none;
}

#progress:hover {
    background-color: blue;
}

#player--container h3 {
    color: purple;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

#player--container ol {
    line-height: 30px;
}

#player--container li {
    font-size: 1.3em;
    cursor: pointer;
}

#song-list {
    padding: 20px;
}