<div id="about--wrapper">
    <div id="about--container">
        <div class="about--container--box">
            <h2>A b o u t</h2>
            <div class="about--container--text">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Provident voluptate, voluptatem aut non
                    reiciendis qui quibusdam accusamus blanditiis fugiat aliquid cum alias, eius saepe nisi asperiores
                    earum veniam neque expedita ullam dolores distinctio illo hic dolorum sequi eius saepe nisi
                    asperiores earum veniam neque expedita ullam dolores distinctio illo hic dolorum sequi.. Officia
                    dolorum illo eaque libero voluptatibus corrupti, minima aperiam dolore quae! Praesentium iure amet
                    doloremque eum est placeat porro odit accusantium, facilis quam.</p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat tenetur sequi blanditiis doloremque
                    voluptatum hic nihil, quis, nam eos id sapiente quos amet, explicabo consequatur repellendus.
                    Possimus quidem maxime impedit facilis magni, a fugit perspiciatis cupiditate unde fugiat quibusdam
                    suscipit voluptatem quas incidunt earum ad beatae veritatis quod pariatur itaque nisi, aspernatur
                    quaerat eius saepe nisi asperiores earum veniam neque expedita ullam dolores distinctio illo hic
                    dolorum sequi. Ex, suscipit eius reiciendis in harum maiores.</p>
            </div>
        </div>
    </div>
</div>