@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

#about--wrapper {
    width: 80%;
    margin: 0 auto;
    padding: 10px;
}

#about--container {
    width: 100%;
    display: grid;
    grid-template-rows: 1fr;
    gap: 1rem;
    padding: 15px;
}

.about--container--box {
    margin: 0 auto;
    padding: 15px;
    display: grid;
    grid-template-rows: 1fr;
    gap: 5em;
}

#about--container h2 {
    color: whitesmoke;
    font-size: 3rem;
    padding: 10px;
    width: 80%;
    margin-left: 3%;
}

.about--container--text {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    width: 50%;
    margin-left: 2%;


}

.about--container--text p {
    padding: 10px;
    line-height: 25px;
    color: gray;
}